<div class="modal fade" id="modalManageDayEvent" tabindex="-1" role="dialog" aria-labelledby="modalManageDayEventLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalManageDayEventLabel">Manage Events</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="login-container" (ngSubmit)="sendEvent(formEvent)" [formGroup]="formEvent">
                <div class="modal-body" *ngIf="dataService.selectedDay != undefined">
                    <!-- Form Create Event -->
                    <!-- <div class="form-group">
                        <label for="inputId">Id</label>
                        <input id="inputId" class="form-control" type="text" name="id" [value]="dataService.selectedDay.id" readonly *ngIf>
                        <div *ngIf="formEvent.get('id').touched && formEvent.get('id').invalid" class="invalid-feedback">
                            <div *ngIf="formEvent.get('id').errors.required">Please enter an ID.</div>
                        </div>
                    </iv> -->
                    <div class="form-group">
                        <label for="inputReminder">Reminder</label>
                        <input id="inputReminder" class="form-control" type="text" name="reminder" placeholder="Reminder" maxlength="30" formControlName="reminder" [ngClass]="formEvent.get('reminder').touched && formEvent.get('reminder').invalid ? 'is-invalid' : !formEvent.get('reminder').invalid ? 'is-valid' : ''">
                        <div *ngIf="formEvent.get('reminder').touched && formEvent.get('reminder').invalid" class="invalid-feedback">
                            <div *ngIf="formEvent.get('reminder').errors.required">Please enter a reminder.</div>
                            <div *ngIf="formEvent.get('reminder').errors.pattern">Please enter a valid reminder.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCity">City</label>
                        <select id="inputCity" (change)="getWeather($event)" class="custom-select mr-sm-2" formControlName="city" aria-describedby="weatherHelp">
                            <option *ngFor="let city of citys" [value]="city">{{city}}</option>
                        </select>
                        <small id="weatherHelp" class="form-text text-muted">{{weather}}</small>
                    </div>
                    <div class="form-group">
                        <label for="inputColor">Color</label>
                        <!-- <input id="inputColor" class="form-control" type="text"> -->
                        <input id="inputColor" class="form-control" type="color" formControlName="color">
                    </div>
                    <div class="form-group">
                        <label for="inputStartTime">Start Time</label>
                        <input id="inputStartTime" class="form-control" type="time" formControlName="startTime">
                        <!-- <input id="inputStartTime" class="form-control" type="text" name="startTime" maxlength="20" placeholder="startTime" formControlName="startTime" [ngClass]="formEvent.get('startTime').touched && formEvent.get('startTime').invalid ? 'is-invalid' : !formEvent.get('startTime').invalid ? 'is-valid' : ''"> -->
                        <div *ngIf="formEvent.get('startTime').touched && formEvent.get('startTime').invalid" class="invalid-feedback">
                            <div *ngIf="formEvent.get('startTime').errors.required">Pease select a start time.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEndTime">End Time</label>
                        <input id="inputEndTime" class="form-control" type="time" formControlName="endTime">
                        <!-- <input id="inputEndTime" class="form-control" type="text" name="endTime" maxlength="20" placeholder="endTime" formControlName="endTime" [ngClass]="formEvent.get('endTime').touched && formEvent.get('endTime').invalid ? 'is-invalid' : !formEvent.get('endTime').invalid ? 'is-valid' : ''"> -->
                        <div *ngIf="formEvent.get('endTime').touched && formEvent.get('endTime').invalid" class="invalid-feedback">
                            <div *ngIf="formEvent.get('endTime').errors.required">Pease select an end time.</div>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="fixModal == true">
                        {{messageModal}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!formEvent.valid">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>