<!-- Modal -->
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="modalEventListLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEventListLabel">Day Event List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <!-- {{selectedDayForModal | json}} -->
                <div *ngIf="selectedDayForModal.events != undefined">
                    <div *ngFor="let event of selectedDayForModal.events; let i = index">
                        <div class="row px-2 py-2">
                            <div class="col-sm-12">
                                <h4>
                                    <span class="badge badge-secondary" [ngStyle]="{'background-color': event.color}">
                                        Event: {{event.reminder}}
                                    </span>&nbsp;
                                    <span class="badge badge-secondary" [ngStyle]="{'background-color': event.color}">
                                        City: {{event.city}}, Starts at: {{event.startTime}} Ends at: {{event.endTime}}
                                    </span>
                                    <small id="weatherHelp" class="form-text text-muted">{{weathers[i]}}</small>
                                </h4>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-end">
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalManageDayEvent" (click)="manageEvent(true, event)">
                                    Update/View
                                </button>
                            </div>
                            <div class="col-sm-3"><button type="button" class="btn btn-danger" (click)="deleteEvent(event)"> Delete</button></div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div *ngIf="selectedDayForModal.events == undefined">
                    There are no events created for this day.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteAllEvent(day)">Delete All</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalManageDayEvent" (click)="manageEvent(false, undefined)">
                    Create New Event
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal to create events -->
<app-modal></app-modal>